<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WidgetTopTags.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>widgetTags.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB6FA8871E44C5FF00060A9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB6FA8A01E44C60000060A9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB6FA8AB1E44C60000060A9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB6FA8C11E44C62200060A9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
